#### <center>Intermediate Python and Software Enginnering</center>


## <center>Section 01 - Excercises</center>


### <center>Innovation Scholars Programme</center>
### <center>King's College London, Medical Research Council and UKRI <center>

# Exercises

The purpose of this notebook is to provide exercises for the concepts discussed in the introduction lecture. Below will be a number of cells with comments describing what code needs to be provided or other instructions.

---

## Data types

The first concepts we discussed were types:

In [3]:
val = 42
print(val)

42

The integer value `42` is numerically equivalent to the floating point value is represented as a different type. The type names `int` and `float` can be used to convert between types:

In [4]:
fval=float(val)
print(val,fval)

42 42.0

The `type` function can be used to query the type of objects:

In [5]:
print(type(val),type(fval))

<class 'int'> <class 'float'>

The type names `int`, `float`, `str`, and others can be used to convert between values:

In [6]:
# replace None with the string representation of `a` and assign a variable a
astr = 'None'

print(astr,type(astr),val==astr)

None <class 'str'> False

### Exercise 1

As mentioned all datatypes are objects and as such can have associated functions.

Using the `print(dir(dtype))` command, e.g. `print(dir('Hello'))`, you can obtain all available function for a give data type (`dtype`). Ignore all functions starting with `__` (double underscore).

Find the functions that enables you to:
* Return the number of bits required to store a given int,
* Check if the value stored in a float is an integer value,
* Return a lower case, upper case or capitalised version of an input string,
* Display the index of the first and last occurence of a character within a string,
* Use the join() function to add a ',' separtor between each character of a string.
* Display the real and imaginary part of the complex number `3+1j`


Write all your functions in the code box below:

In [7]:
# your code here
n = 23
print(n.bit_length())  # Output: 5
f = 5.0
print(f.is_integer())  # Output: True

f2 = 5.3
print(f2.is_integer())  # Output: False
s = "HeLLo"

print(s.lower())       # Output: "hello"
print(s.upper())       # Output: "HELLO"
print(s.capitalize())  # Output: "Hello"
text = "banana"

print(text.find('a'))   # Output: 1
print(text.rfind('a'))  # Output: 5
s = "hello"
print(','.join(s))  # Output: "h,e,l,l,o"
c = 3 + 1j
print(c.real)  # Output: 3.0
print(c.imag)  # Output: 1.0

5
True
False
hello
HELLO
Hello
1
5
h,e,l,l,o
3.0
1.0

---

## Operator

How these different types produce different results when applied to numeric operators is important to understand.

### Exercise 2:
Assign integer and float values in different combinations to `a` and `b` to see what the `+` operator does:

In [8]:
# replace None with integer or float values
a = 1
b = 1.0

print(a+b,type(a),type(b),type(a+b))

2.0 <class 'int'> <class 'float'> <class 'float'>

Operators are provided for mathematics (`+ - * / // %`), comparison (`== != <= >= < >`) and others.

### Exercise 3:
Use operators to print out the product and ratio of `a` to `b` with different values in the cell below:

In [11]:
# your code here
a = 1
b = 1.0
print(a+b, a-b, a*b, a/b, a//b, a%b)
print(a==b, a!=b, a<=b, a>=b, a<b, a>b)

2.0 0.0 1.0 1.0 1.0 0.0
True False True True False False

### Exercise 4:
Use an operator to increment by 1 the value of `a` and then print it.
Then use another operator to double the value of `b` and print it, and finally compare `a` and `b`.
Use the shortest statements possible in these cases.

In [ ]:
a = 3
b = 2.3

# Use an operator to increment by 1 the value of `a` and then print it.

print(a)

# Use an operator to double the value of `b` and then print it

print(b)

# Compare both values and return `True` if `a` is larger than `b`
print()

---
## Data Structures / Data Containers

We construct lists with the `list` operator or `[]` syntax. Similarly tuple can be constructed with `tuple` or `()`.

### Exercise 5:
Add a name to the end of the list using `append()` then print the 0th element:

In [ ]:
names = ['John','Graham']

print(names)

print()  # print the 0'th element of names

Now do the equivalent operation with `names` as a tuple:

In [ ]:
names = ('John','Graham') # can't modify tuples

# newnames=# add a name to names by creating a new tuple
print(newnames)

### Exercise 6:

List and tuples also have member functions. Address the following two code blocks' questions using such functions.

In [ ]:
names = ['John', 'Ben', 'Graham', 'Peter', 'Ben']

# Print the same list in reverse order

print(names)

# Add your name at the beginning of the list

print(names)

# Add your name at the end of the list

print(names)

# Remove the second occurence of `Ben`

print(names)

# Remove the last name from the list

print(names)

In [ ]:
names = ('John', 'Ben', 'Graham', 'Peter', 'Ben')
occurence = 'None'# Use a member function of tuple to return the number of times `Ben` appears
print(occurence)

### Exercise 7:
A dictionary can be used to store the number of student with a given name in a class:

In [ ]:
names = {'John': 1, 'Graham': 1, 'Peter': 1, 'Ben': 2}
print(names)

Write code to implement the following:

In [ ]:
# Print the number of student called `Ben`

print()

In [ ]:
# Add a new student name

print(names)

In [ ]:
# Increment the number of student called 'Peter'

print(names)

In [ ]:
# Display all the names (keys) stored in the dictionary

print()

---
## Modules

* "NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays."


* "Matplotlib is a plotting library for the Python programming language and its numerical mathematics extension NumPy. [...]"

In order to use non built-in libraries, you need to import them and have the opportunity to create alias names, such as:

In [ ]:
import numpy # simple import
print(numpy.random.rand())

import numpy as np # rename for ease
print(np.random.rand())

import numpy.random as np_rand # even more easy
print(np_rand.rand())

Packages like NumPy have their own datatype, typical example being `numpy.ndarray`, which encodes a n-Dimentionnal array and can be used in mathematical function, such as:

In [ ]:
import numpy as np
array = np.array([1, 2, 3, 4, 5, 6])
print(array)
cos_array = np.cos(array)
print(cos_array)

The `numpy.arange` function enables to create an array, given a starting value, a limit and an increment:

In [ ]:
import numpy as np

array = np.arange(-5, 5, 1)
print(array)

Matplotlib also needs to be imported

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Ensures the plot is in the notebook
%matplotlib inline

x = np.array([1, 2, 3, 4, 5, 6])
y = x / 2
plt.plot(x, y, 'x')

### Exercise 8:
Write a code block which generates a plot of a cosine function in blue and sine function in red in the same figure. Both functions should be sampled between -2 pi and 2 pi. Numpy provides functions for sine and cosine and has constants for pi.

---
## Control Statements

Conditionals in Python take the form of `if-elif-else` code blocks. The condition checks to see if the given expression evaluates to `True` and executes the block if this is so, otherwise it checks the next `elif` block or `else` block.

### Exercise 9:
Fill in the below statements to practice using condition and loop statements.

In [ ]:
number = 3.14159 # try other values

# use an if-else block to print "Yes" if `number` is greater than 0 otherwise "No"

The `for` loop can be used to iterate over the members of a collection such as a list or tuple.

In [ ]:
numbers = [411, 131, 272, 737, 129, 591, 943, 801, 62, 357, 199, 814, 136, 523, 556, 55, 860, 943, 411, 760]

# write a loop to print the even numbers from `numbers` (% is remainder operator)

---
## Functions

Routines are defined starting with the `def` keyword, the name of the routine, its arguments, then its body.

### Exercise 10:
Provide function definitions below to implement the requested behaviour:

In [ ]:
# define a routine called `is_even` which returns whether a given number is even or not

print(is_even(42),is_even(numbers[11]),is_even(numbers[-1])) # -1 is the last element, -2 second last, etc.

In [ ]:
# a list comprehension is an expression which builds a list using an internal for loop
print([v for v in numbers if isEven(v)]) # print all the even numbers

# define a function `get_evens` to do the same thing for a given input list

print(get_evens(numbers))

---
## Exceptions

### Exercise 11:
The following code fails to run, add the `try` and `except` keywords to capture this specific error and produce a meaningful error message instead of an exception. The error type is mentioned in the error message.

In [ ]:
def square(v):
    return v**2

values = [1, 2, 3, 4, 5, 6]
for i in range(10):
    print(square(values[i]))

### Exercise 11:
Modify the code below so that it handles the different arguments given in the print statements and detects any potential error.
Display different messages based on the different conditions.
In some cases, it should raise an exception if unexpected values are given and some others it should catch an error.

In [ ]:
import numpy as np
def compute_circle_area(r):
    a = np.pi * r * r
    return a

print(compute_circle_area(2.1))
print(compute_circle_area(2+1j))
print(compute_circle_area(-2.1))
print(compute_circle_area('radius'))

---
## Objects

Recall the `Dimension` type from the lecture notes:

In [ ]:
class Dimension:
    def __init__(self, width, height): # constructor for object
        self.width = width # declare members by assignment
        self.height = height

    def measure(self): # method of class
        return self.width * self.height

### Exercise 12:
Define a subclass of `Dimension` called `Dimension3` which adds a third dimension member `depth` and overrides `measure()` appropriately:

In [ ]:
d=Dimension3(10,12,22)

print(d,d.depth,d.measure())

# assert is used to assert some property of the program is True
assert d.measure() == (10*12*22)

---
## Further Exercises

### Exercise 13:
Count the number of times each character appears in the following sentence ignoring case.Present the results in alphabetical order or ordered by frequency.

Consider that there are a number of different ways to do this, that vary by iteration style and the use of different data structures. See if you can find at least two different ways!

In [ ]:
# letter frequency: Display the number of time each letter appears in the following string
# Counting letters
s = ("Peter Piper picked a peck of pickled peppers. If Peter Piper picked a "
     "Peck of pickled peppers, where's the peck of pickled peppers Peter "
     "Piper picked?")
print(s)

### Exercise 14:
FizzBuzz: define a function taking a value and for every number between 0 and that value return a list containing:
* If the value is divisible by 3, "fizz"
* If the value is divisible by 5, "buzz"
* If the value is divisible by both 3 and 5, "fizzbuzz"
* Otherwise, output the number

Bonus prize! Write your solution so that it can be given an ordered list of numbers and words - e.g. `[(3, 'fizz'), (5, 'buzz'), (4, '')]`

In [ ]:
def fizzbuzz(count):
    result = list()

    # your code here

    return result

### Exercise 15:
As seen in the previous excercises session, the matplotlib module can be imported to display figure. Use the `subplot()` to display both functions side by side. Refer to [the documentation](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.subplot.html) for details.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Ensures the plot is in the notebook
%matplotlib inline

x = np.arange(-3*np.pi, 3*np.pi, 0.1)
plt.plot(x, np.cos(x), 'b', label='Sin()')
plt.plot(x, np.sin(x), 'r', label='Cos()')
plt.xlabel('x values')
plt.ylabel('y values')
plt.xlim(x[0], x[-1]+5)
plt.legend(loc='upper right')

### Exercise 16:
You previously computed the occurance of each letter in a given sentence. Use the `matplotlib.pyplot.bar()` function to display a bar chart with the corresponding values, by modifying the code below to use container of any length. [Bar documentation here](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html).

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Ensures the plot is in the notebook
%matplotlib inline

# example data and setup, replace this with your data
d = {'a': 2, 'b':3}
plt.bar((0, 1), (d['a'], d['b']), align='center')
plt.xticks((0, 1), ('a', 'b'))